<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(function() {
		var nickname;
		//open socket io
		var socket = io();
		var server = socket.connect('http://localhost:8080');

		//handle chatter exit
		server.on('remove chatter', function(name){
				removeChatter(name);
		});
		var removeChatter = function (name) {
				console.log(name + " is leaving the chat room");
				$('#chatters li[data-name=' + name + ']').remove();
		};

		//handle chatter entry
		server.on('add chatter', function (name) {
				console.log('called insertChatter');
				var chatter = $('<li class="list-group-item" data-name="'+name+'" >' + name + '</li>');//.data('name', name);
				$('#chatters').append(chatter);
		});
		

		//handle msg submit
		$('#chat_form').submit(function (e) {
				e.stopPropagation();
				e.preventDefault();
				var message = $('#chat_input').val();
				//console.log(message);
				//send event to server
				var data = {name:nickname,message:message};
				server.emit('messages',data );
				$('#chat_input').val('');
				//$('.panel-content').animate({scrollTop: $('.panel-content').height()}, 'slow');
		
		});
		server.on('scrollDown', function (data) {
				console.log('scrolling down');
				$('.panel-content').animate({scrollTop: $('.panel-content').height()}, 'slow');			
		});

		//listen for msg list event from server
		server.on('messages', function (data) {
				//append messages to dom				
				insertMessage(data);
		});

		//append msgs to screen
		var insertMessage = function (data) {
				console.log("ff "+data);
				var message = $('<li class="list-group-item" ><span class="badge">' + data.name+"</span> "+data.message+ '</li>');//.data('name', data.name);
				console.log(message);
				$('#messages').append(message);
				$('.panel-content').animate({scrollTop: $('.panel-content').height()}, 'slow');	
		};

		//listen for connect events
		server.on('start', function (data) {
				console.log('responded to start');

				var options = {backdrop:'static'}	;
				$('#nickNameModal').modal(options);
			
		});
		
		//handle msg submit
		$('#nickName_form').submit(function (e) {
				e.stopPropagation();
				e.preventDefault();
				nickname = $('#nickName_input').val();
				$('#status').html('Connected to chattr-bug');
				$('#status').removeClass("hide");
				server.emit('join', nickname);
				$('#nickNameModal').modal('hide')
		
		});


});

</script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
